/*html {
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
}*/


body{
  color: white;
  font-family: "Text Me One";
  background-image: linear-gradient(to bottom, #0DA7D6 0%, #11206E 100%);

}

header{
  display: flex;
  justify-content: center;
  font-size: 65px;
  font-weight: 800px;
  text-shadow: 2px 2px black;
}

.logos {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.viewercount{
  color: red;
}

.inline {
  display: inline;
}

.container {
  display: flex;
  justify-content: space-around;
}

.twitch-container{
  flex:1;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(182, 113, 232,0.6);
}

.youtube-container{
  flex:1;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(232, 113, 113,0.6);
}

.twitch-card{
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  /*background-color: white;*/
}

.youtube-card{
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  /*background-color: white;*/
}

.title{
  padding-top: 20px;
}

form{
  display: inline;
}

a{
color: white;
background-color: rgb(66, 161, 244);
padding: 10px;
border-radius: 14px;
border: 2px solid black;
text-decoration: none;
}

.top-10{
  font-family: "Exo 2";
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px black;
}

#twitch-header {
  font-size: 30px;
  background-color: purple;
  padding: 30px;
  max-height: 190px;
}

#youtube-header{
  font-size: 30px;
  background-color: red;
  padding: 30px;
  max-height: 192px;
}

.previews{
  border: 4px solid black;
  border-radius: 10px;
}


.header-logo{
  width: auto;
  max-height: 130px;
}

.channel-name{
}
/**/
