/*html {
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
}*/


body{
  color: white;
  font-family: "Text Me One";
  background-image: linear-gradient(to bottom, #003D57 0%, #267A94 140%);

}

header{
  display: flex;
  justify-content: center;
  font-size: 45px;
}

.logos {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.viewercount{
  color: red;
}

.inline {
  display: inline;
}

.container {
  display: flex;
  justify-content: space-around;
}

.twitch-container{
  flex:1;
  justify-content: center;
}

.youtube-container{
  flex:1;
  justify-content: center;
}



/**/
