/*html {
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
}*/


body{
  background-color: beige;
}

header{
  display: flex;
  justify-content: center;
  font-size: 45px;
}

.twitchlogos {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.viewercount{
  color: red;
}

.inline {
  display: inline;
}







/**/
